<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>To-Do List</title>
    <link rel="stylesheet" href="../css/style.css" />
    <script type="module" src="../index.js"></script>
</head>

<body>
    <div class="container">
        <a href="../index.html" class="home__link">Home</a>

        <section class="todo__section">
            <h1 class="title">Таймер інтервалу</h1>
        </section>
    </div>
    <script src="../js/task-1.js" type="module"></script>
</body>

</html>