<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Feedback form</title>
    <link rel="stylesheet" href="../css/style.css" />
    <script type="module" src="../index.js"></script>
</head>

<body>
    <div class="container">
        <a href="../index.html" class="home__link">Home</a>

        <section class="form__section">


            <div class="box1 box" id="1"></div>
            <div class="box2 box" id="2"></div>
            <div class="box3 box" id="3"></div>
            <div class="box4 box" id="4"></div>
        </section>
    </div>
    <script src="../js/task-2.js" type="module"></script>
</body>

</html>