<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <div class="container">
        <a class="home__link" href="../index.html">Home</a>
        <section class="todo__section">
            <h1 class="todo__title">
                TODO LIST

            </h1>
            <form class="todo__form">
                <label class="todo__label">
                    <input class="todo__input" type="checkbox" name="task-1">
                    Gym
                </label>
                <label class="todo__label">
                    <input class="todo__input" type="checkbox" name="task-2">
                    Pool
                </label>
                <label class="todo__label">
                    <input class="todo__input" type="checkbox" name="task-3">
                    Breakfast
                </label>
                <label class="todo__label">
                    <input class="todo__input" type="checkbox" name="task-3">
                    Nap
                </label>
            </form>
        </section>
    </div>
    <script src="../js/task-1.js" type="module"></script>
</body>

</html>